<div class="nav">
  <a href="about" class="about selected">About</a>
  <a href="contact" class="contact">Contact</a>
  <a href="projects_current" class="projects">Projects</a>
</div>
<div>
  <img src="/img/AV_aboutimage.jpg" alt=" " width="843" height="94">
</div>
<div class="description">
  {{{page.text}}}
</div>