<div class="nav">
  <a href="about" class="about">About</a>
  <a href="contact" class="contact selected">Contact</a>
  <a href="projects_current" class="projects">Projects</a>
</div>
<div>
  <img src="/img/AV_contactimage.jpg" alt=" " width="843" height="94">
</div>
<div class="description">
  {{{page.text}}}
</div>