<div class="nav">
  <a href="about" class="about">About</a>
  <a href="contact" class="contact">Contact</a>
  <a href="projects_past" class="projects selected">Projects<span class="projectCatagory">_current</span></a>
</div>
<div class="projectList">
  {{> projectNav}}
  <a id="toPast" href="projects_past">go to &gt;&gt; past projects</a>
</div>
<div class="description">
  {{#each projects}}
    {{> project }}
  {{/each}}
</div>
