@import url("undohtml.css");

body {
background-color:#333333;
color: #cccccc;
text-align: center;
font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
font-size: 16px;
padding: 0px 0 2px;
letter-spacing: 1px;
}

h1 {
width: 586px;
height: 60px;
background: url(img/holdingpage_title_1.gif) center center no-repeat;
text-align: center;
margin:30px auto 25px;
}

body.index>div {
margin:0;
padding: 16px 0;
}

body.index>div.header  {
padding-top: 0px;
border-bottom: 3px solid #cc3366;
}

body.index>div.description p{
display: block;
width:800px;
margin: 20px auto 0;
}

body.index>div.quotes p{
margin-bottom: 0;
}

body.index>div.footer{
padding-top: 0px;
font-size: 0.7em;
letter-spacing: 1px;
}

p {

margin-top:0;
margin-bottom: 1em;
}

a{
font-weight: bold;
}

a:link,a:visited {
color: #cc3366;
}

a:hover,a:active {
color: #cc3333;
}

/* useful styles */
.hidden {
	display:block;
	overflow:hidden;
	text-indent: -9000px;
}

.none {
	display:none;
}

.quote {
	font-weight: 100;
}

.quote, blockquote, .quoteInfo, .blockquoteInfo {
	font-size: 0.7em;
	letter-spacing: 1px;
}

blockquote {
	font-style:italic;
	margin-left:0;
}

.quoteInfo, .blockquoteInfo {
	font-weight:bold;
	margin-left: 2em;
}

.blockquoteInfo {
	text-align:right;
}

