<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Athina Vahla</title>
  <meta name="description" content="In the space between dance, theatre and visual arts Athina Vahla creates imaginary worlds in collaboration with a multi-disciplinary team of artists." />
  <meta name="keywords" content="athina, vahla" />
  <link rel="stylesheet" href="/style.css" />
</head>
<body class="index">
<div class="header">
  <h1><a href="/"><span class="hidden">Athina Vahla</span></a></h1>
</div>

{{{body}}}

</body>
<!-- Site by http://tableflip.io -->
</html>