@import url("undohtml.css");

html {
  overflow-y: scroll;
}

body {
  background-color:#333333;
  color: #eee;
  text-align: center;
  font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
  font-size: 12pt;
  padding: 0px 0 20px;
  letter-spacing: 1px;
}

h1 {

  /*
  width: 586px;
  height: 60px;
  background: url(img/holdingpage_title_1.gif) center center no-repeat; */
  width: 850px;
  height: 88px;
  background: url(img/ATHINA-VAHLA.png) center center no-repeat;
  text-align: center;
  margin:0 auto;
}

h1 a {
  display: block;
  width:inherit;
  height: inherit
}

h2 {
  font-size: 1.1em;
}

.header, .nav, .projectList, .description, .quotes, .footer {
  margin:34px auto;
  padding: 0px 0;
  width: 843px;
}

div.header  {
  padding-top: 0px;
}

/* nav ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

div.nav {
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: left;
  margin-bottom:0;
  height:20px;
  overflow-y: hidden;
}

div.nav .about {
  display: block;
  float: left;
}

div.nav .projects {
  display: block;
  margin-left: 264px;
  margin-left: 340px;
}

div.nav .contact {
  float: right;
}

div.nav .projectCatagory {
  text-transform: lowercase;
}

a:link,
a:visited,
body div.projectList ul a:hover,
body div.projectList ul a:active
{
  color: #b7192c;
}

a:hover,
a:active,
div.nav .selected,
div.projectList ul a:link,
div.projectList ul a:visited,
h2,
.photoInfo a.photoNav
{
  color: #53c830;
}

/* description ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

div.description, div.quotes {
  text-align: left;
  line-height: 1.2em;
}

body div.quotes p{
  margin-bottom: 2em;
}

body div.footer{
  padding-top: 0px;
  font-size: 0.7em;
  letter-spacing: 1px;
}

p, h2{
  margin-top:0;
  margin-bottom: 1em;
}

body.projects div.nav {
  margin-bottom: 0;
}

div.projectList {
  text-align: left;
  clear:both;
}

div.projectList ul,  #toPast, #toCurrent{
  display: block;
  padding-bottom: 1em;
}

.project .photo {
  float:left;
  margin-bottom:60px;
}

.project{
  clear:both;
  margin-bottom:60px;
}

.project p,.project h2, div.projectList ul, #toPast, #toCurrent {
  margin-left: 340px;
}

#SpacesBetween .quoteInfo {
  margin-left: 0;
}

/* useful styles */
.hidden {
  display:block;
  overflow:hidden;
  text-indent: -9000px;
}

.none, body div.hide {
  display:none;
}

.clear {
  clear: both;
}

.title {
  font-style: italic;
}

.quote {
  font-style: italic;
}

.quote, blockquote, .quoteInfo, .blockquoteInfo, .commissionInfo {
  font-size: 0.8em;
}

blockquote {
  margin-left:0;
}

.quoteInfo, .blockquoteInfo {
  margin-left: 2em;
}

.blockquoteInfo {
  text-align:right;
}

.photo {
  display: inline-block;
  cursor:pointer;
  width: 288px;
}

.photoInfo{
  font-size: 0.6em;
}

.photoInfo .credit {
  float:left;
}

.photoInfo .photoNav {
  float:right;
}

.commissionInfo {

}