<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="In the space between dance, theatre and visual arts Athina Vahla creates imaginary worlds in collaboration with a multi-disciplinary team of artists." />
	<link rel="stylesheet" href="{{assets}}/athinavhala.screen.css" />
	<title>Athina Vahla</title>
</head>
<body class="{{bodyClass}}">
	<div class="header">		
		<h1><span class="hidden">Athina Vahla</span></h1>	
	</div>

	{{> body }}
</body>
<!-- Site design by @olizilla -->
</html>